.current-weather {
  margin: 20px;
  padding: 10px;
  border-left: 1px lightgray solid;
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#location-info span {
  font-weight: 600;
  font-size: 26px;
}

#forecast {
  display: inline-flex;
  margin: 0px;
}

#five-day {
  font-weight: 600;
  font-size: 26px;
  padding: 10px;
}

.card {
  width: 140px;
  height: 175px;
  margin: 10px;
  background: royalblue;
  color: white;
}

.card-body {
  text-align: left;
  font-size: 16px;
}
